<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles-logical.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap"
      rel="stylesheet">
    <title>Curso de Tatuajes - Primer Módulo</title>
    <meta property="og:title" content="Curso de Tatuajes Profesional" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Primer Módulo: Introducción al Tatuaje" />
    <meta property="og:url" content="https://leonidasesteban.github.io/curso-esencial-html-css/" />
    <meta property="og:image" content="https://leonidasesteban.github.io/curso-esencial-html-css/images/dom.png" />

    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="hero"></div>

    <!-- <div class="title">
      <div class="wrapper">
        <div class="title-content">
          <h1>
            Curso esencial de HTML y CSS
          </h1>
          <p>
            Este es el inicio de tu carrera como Desarrollador Web, empezarás aprendiendo HTML y CSS para la creación de
            contenidos,
            en el nivel 2 aprenderás de componentes y en 3 sobre layouts.
          </p>
        </div>
      </div>
    </div>
    <div class="services">
      <div class="wrapper">
        <div class="services-content">
          <h1>
            Curso esencial de HTML y CSS
          </h1>
          <p>
            Este es el inicio de tu carrera como Desarrollador Web, empezarás aprendiendo HTML y CSS para la creación de
            contenidos,
            en el nivel 2 aprenderás de componentes y en 3 sobre layouts.
          </p>
        </div>
      </div>
    </div>
    <div class="pricing">
      <div class="wrapper">
        <div class="pricing-content">
          <h1>
            Curso esencial de HTML y CSS
          </h1>
          <p>
            Este es el inicio de tu carrera como Desarrollador Web, empezarás aprendiendo HTML y CSS para la creación de
            contenidos,
            en el nivel 2 aprenderás de componentes y en 3 sobre layouts.
          </p>
        </div>
      </div>
    </div> -->
    <div class="header">
      <div class="wrapper">
        <div class="header-content">
          <header>
            <nav>
              <details open>
                <summary>
                  Menú
                </summary>
                <ol>
                  <li>
                    <a href="#google-chrome">
                      Historia del Tatuaje
                    </a>
                  </li>
                  <li>
                    <a href="#vsc">
                      Fundamento del Tatuaje
                    </a>
                  </li>
                  <li>
                    <a href="#figma">
                      Técnicas Básicas
                    </a>
                  </li>
                  <li>
                    <a href="#github">
                      Anatomía de la Piel
                    </a>
                  </li>
                </ol>
              </details>
              
            </nav>
          </header>
        </div>
      </div>
    </div>
    <main class="main">


      <div class="wrapper">
        <div class="main-content">
          <h1>
            Curso de Tatuajes Profesional
          </h1>
          <h2>
            Primer Módulo: Introducción al Tatuaje
          </h2>
          <hr>
          <section class="section-content">

            <h3 id="google-chrome">
              Historia del Tatuaje
            </h3>

            <p><strong>Origen del Tatuaje:</strong> El tatuaje tiene una historia rica y variada que se remonta a miles de años. Las primeras evidencias arqueológicas de tatuajes se encontraron en momias en Egipto y Perú, pero el uso del tatuaje es más antiguo y se ha documentado en muchas culturas antiguas, incluyendo las culturas polinesias, japonesas y nórdicas.</p>
            <p><strong>Significados Culturales:</strong> En diferentes culturas, los tatuajes han servido para una variedad de propósitos, incluyendo ritos de paso, símbolos de estatus, talismanes de protección, y formas de identificar a miembros de ciertos grupos o tribus.</p>
            <p><strong>Evolución del Estilo:</strong> A lo largo del tiempo, los estilos de tatuaje han evolucionado considerablemente. Desde los simples y simbólicos tatuajes tribales hasta los complejos y detallados tatuajes de realismo contemporáneo, los estilos han sido influenciados por la cultura, la tecnología y los artistas individuales.</p>
            <img src="./images/p1.jpg" alt="Logo de Google Chrome" title="Logo de Google Chrome">
            
            <h3 id="vsc">Fundamentos del Tatuaje</h3>
            
            <p><strong>Tipos de Tatuajes:</strong> Existen varios estilos de tatuajes, cada uno con sus propias características y técnicas. Algunos de los más populares incluyen:
              <ul>
                  <li><strong>Tradicional:</strong> Conocido por sus líneas gruesas y colores brillantes.</li>
                  <li><strong>Neotradicional:</strong> Una evolución del tradicional con más detalles y una paleta de colores más amplia.</li>
                  <li><strong>Realismo:</strong> Tatuajes que buscan replicar imágenes reales con gran detalle.</li>
                  <li><strong>Blackwork:</strong> Tatuajes hechos exclusivamente con tinta negra, a menudo con patrones geométricos o motivos tribales.</li>
              </ul>
            </p>
            <img src="./images/p6.jpg" alt="Logo del editor de código Visual Studio Code" title="Logo del editor de código Visual Studio Code">

            <p>
              <strong>Herramientas del Tatuador</strong>
              <ul>
                <li><strong>Máquinas de Tatuar:</strong> Puede ser de bobinas o rotativas, cada una con sus propias características.</li>
                <li><strong>Agujas:</strong> Diferentes tipos de agujas se utilizan para líneas, sombreado y relleno.</li>
                <li><strong>Tintas:</strong> Tintas de alta calidad y seguras para el uso en la piel.</li>
                <li><strong>Fuentes de Poder:</strong> Equipos que controlan la velocidad y la fuerza de la máquina de tatuar.</li>
            </ul>
            </p>
            <img src="./images/p13.jpg" alt="Logo del editor de código Visual Studio Code" title="Logo del editor de código Visual Studio Code">
            
            <p><strong>Higiene y Seguridad:</strong> La seguridad es crucial en el tatuaje para prevenir infecciones y enfermedades. Las prácticas de higiene incluyen:
              <ul>
                  <li>Esterilización de equipos con autoclave.</li>
                  <li>Uso de agujas desechables.</li>
                  <li>Uso de guantes y barreras protectoras.</li>
                  <li>Desinfección de la piel y el área de trabajo.</li>
              </ul>
          </p>
          <img src="./images/p5.jpg" alt="Logo de Figma" title="Logo de Figma">

        
            <h3 id="figma">Técnicas Básicas</h3>
            <p><strong>Dibujo y Diseño:</strong> El diseño es una parte fundamental del tatuaje. Los tatuadores deben dominar técnicas de dibujo, incluyendo:
              <ul>
                  <li>Trazado: Creación de líneas precisas y definidas.</li>
                  <li>Sombreado: Añadir profundidad y dimensión a los diseños.</li>
              </ul>
          </p>
          <p><strong>Transferencia del Diseño:</strong> Transferir el diseño del papel a la piel es un paso crítico. Métodos comunes incluyen:
              <ul>
                  <li>Uso de papel transfer y soluciones específicas.</li>
                  <li>Dibujar directamente en la piel con marcadores especiales.</li>
              </ul>
          </p>
          <p><strong>Práctica en Piel Sintética:</strong> Antes de tatuar en piel humana, es recomendable practicar en piel sintética. Esto permite al tatuador novato ganar confianza y habilidad sin riesgo para los clientes.</p>
          
            <img src="./images/p9.jpg" alt="Logo de Figma" title="Logo de Figma">
            
          
            <h3 id="github">Anatomía de la Piel</h3>
            <p><strong>Capas de la Piel:</strong> Comprender la estructura de la piel es esencial para un tatuador. Las capas incluyen:
              <ul>
                  <li><strong>Epidermis:</strong> La capa más externa.</li>
                  <li><strong>Dermis:</strong> La capa intermedia donde se deposita la tinta del tatuaje.</li>
                  <li><strong>Hipodermis:</strong> La capa más profunda.</li>
              </ul>
          </p>
            <img src="./images/p3.jpg" alt="Logo de Github" title="Logo de Github">
            
            <section id="test">
              <h3>Test del Primer Módulo</h3>
              <div id="preguntas"></div>
              <button onclick="mostrarResultados()">Mostrar Resultados</button>
          </section>

        </div>
      </div>
    </main>
    <footer>
      <h1></h1>
    </footer>
    <script src="script.js"></script>
  </body>
</html>